# Basic
__pycache__
.DS_Store
.idea

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Files to 
.vscode/
data/Amazon/
data/CiteSeer/
data/Cora/
data/PPI/
data/PubMed/
data/Reedit/
results/
data/syn1.pth
data/syn2.pth
data/syn4.pth
data/syn5.pth
data/Mutagenicity.pkl
data/Mutagenicity.pth
data/Mutagenicity/